<div class="uploadContainer">
  <h1 class="uploadTitle">ENCRYPTION/DECRYPTION ENGINE </h1>
  <div class="uploadDiv">
      <input type="file" name="file" id="file"
      accept=".jpg,.jpeg,.git,.png,.mp4"
      (change) = "onFileUpload($event)"
      />
    <label for="file">Upload</label>
  </div>

  <div class="uploadTop">
      <button class="clickButton"
      (click)="encryptImage()"
      >

          ENCRYPT</button>
      <button class="clickButtonRight"
      (click)="decryptImage()"
      >DECRYPT </button>
  </div>

  <div class="loader" *ngIf="isLoading">
    <img src = "../assets/Gear-0.2s-200px.gif" alt="">
  </div>
    <p style="text-align: center;">{{loadingText}}</p>
    <div class="resultDiv">
      <div class="left">
          <img class="resultImage"  *ngIf="uploadedImage" [src]  = "uploadedImage" >
      </div>
  </div>

  <div *ngIf="imageOutput" style="margin-left: auto; margin-right: auto; width: 200px;">
    <button  class="clickButton" (click) = "downloadOutput()">Download Output</button>
  </div>
</div>

<!-- <section class="page" style="height: 100vh;">
  <div class="header">
    <p class="header-txt">Logistics Center</p>
    <small>Click city/road to edit</small>
  </div>

  <input type="file" (change) = "onFileUpload($event)" accept="jpg">

  <div style="height: 200px; width: 200px;">
    <img style="height: 100%; width: 100%;" alt="">
  </div>

   <div style="height: 200px; width: 200px;">
    <img style="height: 100%; width: 100%;" *ngIf="imageOutput" [src]  = "imageOutput" alt="">
  </div> -->

  <!-- <a style="height: 50px; width: 50px; background-color: red;" *ngIf="imageOutput" [href]="imageOutput" download>
    <img style="width: 100%; height: 100%;" [src] = "imageOutput" alt="">
  </a>

  <button (click)="encryptImage()">Encrypt</button>
  <button (click)="decryptImage()">Decrypt</button>
</section> -->
